@import '~bootstrap/scss/bootstrap';

#create-collapse {
  margin-bottom: 10px;
}

.btn {
  margin-bottom: 10px;
  margin-top: 10px;
}

input[type=text] {
  margin-bottom: 10px;
}

input[type=password] {
  margin-bottom: 10px;
}
input[type=email] {
  margin-bottom: 10px;
}

textarea {
  margin-bottom: 10px;
}

.list-group-item {
  white-space: pre-line;
}

a p {
  white-space: pre-line;
}

.list-group a {
  display: none;
}

// .list-group a:nth-child(n+0):nth-child(-n+5) {
//     display: block;
// }

// .form-signin {
//   width: 100%;
//   max-width: 330px;
//   padding: 15px;
//   margin: 0 auto;
// }
// .form-signin .checkbox {
//   font-weight: 400;
// }
// .form-signin .form-control {
//   position: relative;
//   box-sizing: border-box;
//   height: auto;
//   padding: 10px;
//   font-size: 16px;
// }
// .form-signin .form-control:focus {
//   z-index: 2;
// }
// .form-signin input[type="email"] {
//   margin-bottom: -1px;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
// }
// .form-signin input[type="password"] {
//   margin-bottom: 10px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }